sudo: false

language: node_js

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - npm install -g yarn

jobs:
  include:
    - stage: test
      script: yarn test
    - stage: build
      script: yarn build
