:root {
  --accent: #54be71;
  --pane-radius: 4px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  background-color: #1c1d1d;
  color: #fbfbfb;
  font: 87.5%/1.5 system-ui, -apple-system, "BlinkMacSystemFont", "SF UI", "Helvetica Neue", sans-serif;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
}

  a:hover, a:focus {
    color: var(--accent);
  }

p {
  margin-bottom: 1.5rem;
}

.frac {
  font-feature-settings: "frac" 1;
}

.caps {
  font-feature-settings: "smcp" 1, "c2sc" 1;
}

.site-title {
  font-weight: 400;
  font-size: 1rem;
}

  .site-title a {
    text-decoration: none;
    border-bottom: 2px solid #ccc;
  }

    .site-title a:hover, .site-title a:focus {
      border-bottom-color: inherit;
    }

.site-root {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.site-header {
  padding: 1.5rem;
}

.site-content {
  flex: 1 0 auto;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  align-items: baseline;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.pane {
  height: 100%;
  width: auto;
  padding-right: 1.5rem;
  vertical-align: top;
}

  .pane--text {
    align-self: flex-start;
    flex-basis: 75vw;
    min-width: 75vw;
  }

  @media (min-width: 35rem) {
    .pane--text {
      min-width: 30rem;
    }
  }

.pane__image {
  background-color: rgba(0, 0, 0, .25);
  border-radius: var(--pane-radius);
  box-shadow: 0 4px 24px rgba(0, 0, 0, .5);
  margin-bottom: 1.5rem;
}

  .pane__image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .15);
    border-radius: var(--pane-radius);
  }

.image__img {
  display: block;
  width: 100%;
  object-fit: cover;
  /* 100vh - (header padding, header text, metadata text, metadata padding */
  height: calc(100vh - (9rem));

  transition: .3s ease opacity;
  opacity: 1;
  border-radius: var(--pane-radius);
}

  @media (orientation: portrait) {
    .image__img {
      height: calc(95vh - (9rem));
    }
  }

  .image__img.is-not-loaded {
    opacity: 0;
  }

.u-mb0 {
  margin-bottom: 0;
}
