:root {
  --accent: #54be71;
  --imgHeight: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  background-color: #1c1d1d;
  color: #fbfbfb;
  font: 87.5%/1.5 system-ui, -apple-system, "BlinkMacSystemFont", "SF UI",
    "Helvetica Neue", sans-serif;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration-color: rgba(255, 255, 255, 0.5);
  text-decoration-skip: ink;
  transition: 0.2s ease;
  transition-property: color, text-decoration-color;
}

a:hover,
a:focus {
  color: var(--accent);
  text-decoration-color: currentColor;
}

p {
  margin-bottom: 1.5rem;
}

.frac {
  font-feature-settings: "frac" 1;
}

.caps {
  font-feature-settings: "smcp" 1, "c2sc" 1;
}

.site-title {
  font-weight: 400;
  font-size: 1rem;
}

.site-root {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.site-content {
  flex: 1 0 auto;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  align-items: baseline;
  padding-bottom: 1.5rem;
}

.pane {
  height: 100%;
  width: auto;
  margin-right: 1px;
  vertical-align: top;
}

.pane--text {
  align-self: flex-start;
  flex-basis: 75vw;
  min-width: 75vw;
  padding: 1.5rem;
}

@media (min-width: 35rem) {
  .pane--text {
    min-width: 30rem;
  }
}

.pane__image {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
}

.image__img {
  display: block;
  width: 100%;
  object-fit: cover;
  /* 100vh - (header padding, header text, metadata text, metadata padding */
  height: var(--imgHeight);

  transition: 0.3s ease opacity;
  opacity: 1;
}

@media (orientation: portrait) {
  .image__img {
    height: calc(95vh - (9rem));
  }
}

.image__img.is-not-loaded {
  opacity: 0;
}

.image__info {
  backdrop-filter: blur(15px);
  background-color: rgba(28, 29, 29, 0.75);
  bottom: 0;
  left: 0;
  padding: 0.75rem;
  position: absolute;
  right: 0;
}

.u-mb0 {
  margin-bottom: 0;
}

.u-mbs {
  margin-bottom: 0.75rem;
}

.u-mbm {
  margin-bottom: 1.5rem;
}
